extends ./layout.jade
block contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
    h1 Bienvenidos FotoFacilito
    a(href="/login" class="right-space btn btn-success") Iniciar Sesión
    a(href="/signup" class="right-space btn btn-success") Registrate
